
<div class="row">
  <div class="large-6 columns">
    <h3 class="subheader"> All Search Records </h3>
    <%= content_tag :div, "", id: "expenses_chart", data: { expenses: @expenses } %> 
  </div>
  <div class="large-6 columns">
    <h3 class="subheader"> All records greater than £100</h3>
    <%= content_tag :div, "", id: "expenses_chart1", data: { expenses: expenses_chart1_data } %>
  </div>

</div>

<h3 id="expense_filter" class="subheader">Create a filter</h2>

<%= will_filter_tag(@expenses)  %>



<div class="row" id="data">
  <div class="large-2 columns">
    <h3 class="subheader">Table View</h2>
  </div>
  <div class="large-3 columns left">
  <%= link_to 'New Expense', new_expense_path, class: "button", id: "new_expense_button" %>
  </div>
</div>



<table>
  <tr>
    <th width="200">Name</th>
    <th width="200">Description</th>
    <th width="200">Amount</th>
    <th width="200">VAT</th>
    <th width="200">User</th>
    <th width="200">Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.name %></td>
    <td><%= expense.description %></td>
    <td><%= number_to_currency(expense.amount, unit: "&pound;") %></td>
    <td><%= expense.vat %></td>
    <td><%= expense.user %></td>
    <td><%= l expense.created_at, format: :short %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


