  <div class="row">
    <div class="large-3 columns">
      <h1><%= link_to "Composer", root_path, :id => 'brand' %></h1>
    </div>
    <div class="large-9 columns">
      <ul class="button-group right">
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete', class: "button" %>
        </li>
      <% else %>
        <li>
        <%= link_to 'Login', new_user_session_path, class: "button" %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Edit account', edit_user_registration_path, class: "button" %>
        </li>
        <% if current_user.has_role? :admin %>
          <li>
          <%= link_to 'Admin', users_path, class: "button" %>
          </li>
        <% end %>
      <% else %>
        <li>
        <%= link_to 'Sign up', new_user_registration_path, class: "button" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
